@import "styles/login.css";
@import "styles/registration.css";

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: end;
    margin: 25px 25px 0 0;
}

.main__heading {
    margin-top: 150px;
    text-align: center;
}
