@import "styles/header.css";
@import "styles/login.css";
@import "styles/registration.css";

body {
    font-family: Arial, sans-serif;
}

.main__heading {
    margin-top: 150px;
    text-align: center;
}
