.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    border-bottom: 1px solid black;
}

.header__home-icon {
    font-size: 40px;
    text-decoration: none;
}
